<div class="container">
    <h1>Contacto</h1>

    <div #textos>
        <p [appResaltado]>
            Esta es la página de contacto, puedes enviarnos cualquier duda
        </p>
    </div>

    <button (click)="alerta()">Mostrar</button>

    <!-- Tamaño del slider
    <input type="number" [(ngModel)]="widthSlider" (keyup.enter)="cargarSlider()">

    <div *ngIf="anchuraToSlider">
        <app-slider [anchura]="anchuraToSlider"
                    [etiquietas]="captions"
                    (conseguirAutor)="getAutor($event)"></app-slider>
    </div>

    <div *ngIf="autor">
        {{autor.nombre +" / "+ autor.website}}
    </div> -->

</div>