<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque fugiat, earum quasi accusantium vitae at,
        reiciendis ut excepturi, ab obcaecati itaque eveniet impedit doloremque odio consectetur commodi voluptate
        labore iure odit quo. Cum necessitatibus, quia debitis id excepturi, nostrum, voluptate soluta incidunt a amet
        expedita. Nihil sapiente, assumenda placeat vero laborum adipisci ad error, quod, fugiat sunt odio culpa
        deserunt! Culpa, dolore eos nam deleniti, eligendi numquam deserunt soluta voluptate nisi reiciendis in velit
        consequatur harum ipsa quae quod adipisci.</p>
</article>